# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/3b8f2504-8a77-4722-afd2-054257c6e9a7.xml
/dataSources.local.xml
/dataSources.xml
/dataSources/3b8f2504-8a77-4722-afd2-054257c6e9a7/storage_v2/_src_/schema/main.uQUzAA.meta
/sqldialects.xml
